@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
	height: 100%;
	background-color: #0A1931;
}


._titleInicio{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-weight: bolder;
	color: #fff;
	font-size: 3rem;
	margin-top: auto;
	margin-bottom: 0rem;
}

.btn{
	display: block;
	text-decoration: none;
	cursor: pointer;

}
._btnIniciar{
	margin: auto auto;
	text-align: center;
	padding: 1rem 3rem;
	background-color: #fff;
	width: min-content;
	font-size: 3rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	color: #000;
	outline: none;
	border: 0.3rem solid black;
	border-radius: 10px;
}

._title{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 3rem;
	margin: 0;
}

._subtitle{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	font-size: 2.5rem;
	margin-top: 0rem;
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-auto-rows: auto;
	margin-top: 1.5rem;
}
.one {
	margin: 0;
	padding: 0rem;
	color: #fff;
}
.two {
	margin: 0 0 0 0;
}

@media (max-width: 1024px) {
	.wrapper {
		grid-template-columns: 100%;
	}
	/*.two {
		user-zoom: zoom;
		overflow: scroll;
	}
	.mapa{
		transform: scale(2) translate(120px,90px);
	}*/
	.modal-content {
		width: 75% !important;
	}

}
@media (max-width: 480px) {
	._titleInicio{
		margin-top: 50%;
	}
}

._textQuestion{
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}

#_questionState{
	margin: 0 0;
	color: #fff;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

._state{
	cursor: pointer;
	/*transition: all 2s ease-in-out 0.5s;
  -webkit-transition: all 2s ease-in-out 0.5s;*/
}
._state:hover{
	fill: blue !important;
	/*transform: scale(1.1) translate(0,0);
	-ms-transform: scale(1.1) translate(0,0);
	-webkit-transform: scale(1.1) translate(0,0);*/
}
._state:active{
	fill: #b9b9b9;
}
.stateOk{
	fill: green !important;
}


#_msgQuestion{
	margin-top: 2rem;
	padding: 1rem;
	text-align: center;
	color: #000;
	background-color: #fff;
	font-family: 'Roboto Mono', monospace;
	display: none;
	border: 4px dotted black;
}


.modal {
	display: none; 
	position: fixed; 
	z-index: 1;
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
	background-color: rgba(0, 0, 0, 1);
	margin: auto;
	padding: 20px;
	border: 5px solid #888;
	width: 40%;
	height: 50%;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-size: 2rem;
	text-align: center;
}

.btnsFinish{
	color: #fff;
}
.btnsFinish:hover{
	color: aqua;
}

#_numStates{
	text-align: end;
}